<div class="row">
    <div class="col-md-12">
  
      <% flash.get('mensaje').forEach(function (msg) { %>
      <div class="alert alert-info text-center" role="alert">
        <%=msg%>
      </div>
      <% }) %>
  
      <h2>Dashboard</h2>
  
      <h3>Cantidad de clientes:</h3>
      <p>
        <%=cantClientes%>
      </p>
  
      <h3>Cantidad total de fotos:</h3>
      <p>
        <%=cantFotos%>
      </p>
  
      <h3>Cantidad Adminisatradores:</h3>
      <p>
        <%=cantAdmin%>
      </p>
  
      <h3>Cantidad total de ordenes:</h3>
      <p>
        <%=cantOrdenes%>
      </p>

    </div>
</div>
  