<div class="row">
    <div class="col-md-12">
      <% flash.get('mensaje').forEach(function (msg) { %>
      <div class="alert alert-success" role="alert">
        <%=msg%>
      </div>
      <% }) %>
  
      <h2>Admin - Ordenes cliente</h2>
  
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>fecha</th>
          </tr>
        </thead>
        <tbody>
          <% ordenes.forEach( orden => { %>
            <tr>
              <td><a href="/admin/ordenes-cliente/<%=orden.cliente%>/orden/<%=orden.id%>"><%=orden.id%></a></td>
              <td><%=orden.fecha%></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
  
    </div>
  
  </div>
  